* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f9;
    text-align: center;
    padding: 40px;
}

header {
    margin-bottom: 40px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.content-section,
.form-section {
    background: white;
    padding: 30px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#main-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#main-btn:hover {
    background-color: #2980b9;
}

form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    background-color: brown;
    color: white;
    border-radius: 20px;
}

#form-message {
    margin-top: 15px;
    font-weight: bold;
}